[submodule "kernel-5.10"]
	path = kernel-5.10
	url = git@github.com:yifengyou/dc-a588-kernel
	branch = master
[submodule "u-boot-v2017"]
	path = u-boot-v2017
	url = git@github.com:yifengyou/dc-a588-uboot
	branch = master

