# Rules for USBmount -*- conf -*-

SUBSYSTEM!="block", GOTO="usbmount_end"
ACTION=="remove", RUN+="/usr/share/usbmount/usbmount remove"

ACTION!="add", GOTO="usbmount_end"
ENV{ID_FS_TYPE}=="", GOTO="usbmount_end"

KERNEL=="mmcblk*", ATTRS{type}=="SD", RUN+="/usr/share/usbmount/usbmount add sd"
ENV{ID_BUS}=="usb", RUN+="/usr/share/usbmount/usbmount add usb"

LABEL="usbmount_end"
